PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/complaint_management_system
JWT_SECRET=super_secret_jwt_key_complaint_management_2026
JWT_EXPIRE=30d
CLIENT_URL=http://localhost:5173
